<h1>Listing tdc2sasmappings</h1>

<table>
  <tr>
    <th>Sas</th>
    <th>Tdc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tdc2sasmappings.each do |tdc2sasmapping| %>
  <tr>
    <td><%= tdc2sasmapping.sas %></td>
    <td><%= tdc2sasmapping.tdc %></td>
    <td><%= link_to 'Show', tdc2sasmapping %></td>
    <td><%= link_to 'Edit', edit_tdc2sasmapping_path(tdc2sasmapping) %></td>
    <td><%= link_to 'Destroy', tdc2sasmapping, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tdc2sasmapping', new_tdc2sasmapping_path %>
