<p id="notice"><%= notice %></p>

<p>
  <b>Sas:</b>
  <%= @tdc2sasmapping.sas %>
</p>

<p>
  <b>Tdc:</b>
  <%= @tdc2sasmapping.tdc %>
</p>


<%= link_to 'Edit', edit_tdc2sasmapping_path(@tdc2sasmapping) %> |
<%= link_to 'Back', tdc2sasmappings_path %>
