<h1>Listing store_id_2_products</h1>

<table>
  <tr>
    <th>Catalogid</th>
    <th>Sku</th>
    <th>Categories</th>
    <th>Mfgid</th>
    <th>Manufacturer</th>
    <th>Distributor</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Price2</th>
    <th>Price3</th>
    <th>Saleprice</th>
    <th>Onsale</th>
    <th>Stock</th>
    <th>Stock alert</th>
    <th>Display stock</th>
    <th>Weight</th>
    <th>Minimumorder</th>
    <th>Maximumorder</th>
    <th>Date created</th>
    <th>Description</th>
    <th>Extended description</th>
    <th>Keywords</th>
    <th>Sorting</th>
    <th>Thumbnail</th>
    <th>Image1</th>
    <th>Image2</th>
    <th>Image3</th>
    <th>Image4</th>
    <th>Realmedia</th>
    <th>Related</th>
    <th>Accessories</th>
    <th>Shipcost</th>
    <th>Imagecaption1</th>
    <th>Imagecaption2</th>
    <th>Imagecaption3</th>
    <th>Imagecaption4</th>
    <th>Title</th>
    <th>Metatags</th>
    <th>Displaytext</th>
    <th>Eproduct password</th>
    <th>Eproduct random</th>
    <th>Eproduct expire</th>
    <th>Eproduct path</th>
    <th>Eproduct serial</th>
    <th>Eproduct instructions</th>
    <th>Homespecial</th>
    <th>Categoryspecial</th>
    <th>Hide</th>
    <th>Free shipping</th>
    <th>Nontax</th>
    <th>Notforsale</th>
    <th>Giftcertificate</th>
    <th>Userid</th>
    <th>Last update</th>
    <th>Extra field 1</th>
    <th>Extra field 2</th>
    <th>Extra field 3</th>
    <th>Extra field 4</th>
    <th>Extra field 5</th>
    <th>Extra field 6</th>
    <th>Extra field 7</th>
    <th>Extra field 8</th>
    <th>Extra field 9</th>
    <th>Extra field 10</th>
    <th>Usecatoptions</th>
    <th>Qtyoptions</th>
    <th>Price 1</th>
    <th>Price 2</th>
    <th>Price 3</th>
    <th>Price 4</th>
    <th>Price 5</th>
    <th>Price 6</th>
    <th>Price 7</th>
    <th>Price 8</th>
    <th>Price 9</th>
    <th>Price 10</th>
    <th>Hide 1</th>
    <th>Hide 2</th>
    <th>Hide 3</th>
    <th>Hide 4</th>
    <th>Hide 5</th>
    <th>Hide 6</th>
    <th>Hide 7</th>
    <th>Hide 8</th>
    <th>Hide 9</th>
    <th>Hide 10</th>
    <th>Minorderpkg</th>
    <th>Listing displaytype</th>
    <th>Show out stock</th>
    <th>Pricing groupopt</th>
    <th>Qtydiscount opt</th>
    <th>Loginlevel</th>
    <th>Redirectto</th>
    <th>Accessgroup</th>
    <th>Self ship</th>
    <th>Tax code</th>
    <th>Eproduct reuseserial</th>
    <th>Nonsearchable</th>
    <th>Instock message</th>
    <th>Outofstock message</th>
    <th>Backorder message</th>
    <th>Height</th>
    <th>Width</th>
    <th>Depth</th>
    <th>Reward points</th>
    <th>Reward disable</th>
    <th>Reward redeem</th>
    <th>Filename</th>
    <th>Fractional qty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_id_2_products.each do |store_id_2_product| %>
  <tr>
    <td><%= store_id_2_product.catalogid %></td>
    <td><%= store_id_2_product.sku %></td>
    <td><%= store_id_2_product.categories %></td>
    <td><%= store_id_2_product.mfgid %></td>
    <td><%= store_id_2_product.manufacturer %></td>
    <td><%= store_id_2_product.distributor %></td>
    <td><%= store_id_2_product.cost %></td>
    <td><%= store_id_2_product.price %></td>
    <td><%= store_id_2_product.price2 %></td>
    <td><%= store_id_2_product.price3 %></td>
    <td><%= store_id_2_product.saleprice %></td>
    <td><%= store_id_2_product.onsale %></td>
    <td><%= store_id_2_product.stock %></td>
    <td><%= store_id_2_product.stock_alert %></td>
    <td><%= store_id_2_product.display_stock %></td>
    <td><%= store_id_2_product.weight %></td>
    <td><%= store_id_2_product.minimumorder %></td>
    <td><%= store_id_2_product.maximumorder %></td>
    <td><%= store_id_2_product.date_created %></td>
    <td><%= store_id_2_product.description %></td>
    <td><%= store_id_2_product.extended_description %></td>
    <td><%= store_id_2_product.keywords %></td>
    <td><%= store_id_2_product.sorting %></td>
    <td><%= store_id_2_product.thumbnail %></td>
    <td><%= store_id_2_product.image1 %></td>
    <td><%= store_id_2_product.image2 %></td>
    <td><%= store_id_2_product.image3 %></td>
    <td><%= store_id_2_product.image4 %></td>
    <td><%= store_id_2_product.realmedia %></td>
    <td><%= store_id_2_product.related %></td>
    <td><%= store_id_2_product.accessories %></td>
    <td><%= store_id_2_product.shipcost %></td>
    <td><%= store_id_2_product.imagecaption1 %></td>
    <td><%= store_id_2_product.imagecaption2 %></td>
    <td><%= store_id_2_product.imagecaption3 %></td>
    <td><%= store_id_2_product.imagecaption4 %></td>
    <td><%= store_id_2_product.title %></td>
    <td><%= store_id_2_product.metatags %></td>
    <td><%= store_id_2_product.displaytext %></td>
    <td><%= store_id_2_product.eproduct_password %></td>
    <td><%= store_id_2_product.eproduct_random %></td>
    <td><%= store_id_2_product.eproduct_expire %></td>
    <td><%= store_id_2_product.eproduct_path %></td>
    <td><%= store_id_2_product.eproduct_serial %></td>
    <td><%= store_id_2_product.eproduct_instructions %></td>
    <td><%= store_id_2_product.homespecial %></td>
    <td><%= store_id_2_product.categoryspecial %></td>
    <td><%= store_id_2_product.hide %></td>
    <td><%= store_id_2_product.free_shipping %></td>
    <td><%= store_id_2_product.nontax %></td>
    <td><%= store_id_2_product.notforsale %></td>
    <td><%= store_id_2_product.giftcertificate %></td>
    <td><%= store_id_2_product.userid %></td>
    <td><%= store_id_2_product.last_update %></td>
    <td><%= store_id_2_product.extra_field_1 %></td>
    <td><%= store_id_2_product.extra_field_2 %></td>
    <td><%= store_id_2_product.extra_field_3 %></td>
    <td><%= store_id_2_product.extra_field_4 %></td>
    <td><%= store_id_2_product.extra_field_5 %></td>
    <td><%= store_id_2_product.extra_field_6 %></td>
    <td><%= store_id_2_product.extra_field_7 %></td>
    <td><%= store_id_2_product.extra_field_8 %></td>
    <td><%= store_id_2_product.extra_field_9 %></td>
    <td><%= store_id_2_product.extra_field_10 %></td>
    <td><%= store_id_2_product.usecatoptions %></td>
    <td><%= store_id_2_product.qtyoptions %></td>
    <td><%= store_id_2_product.price_1 %></td>
    <td><%= store_id_2_product.price_2 %></td>
    <td><%= store_id_2_product.price_3 %></td>
    <td><%= store_id_2_product.price_4 %></td>
    <td><%= store_id_2_product.price_5 %></td>
    <td><%= store_id_2_product.price_6 %></td>
    <td><%= store_id_2_product.price_7 %></td>
    <td><%= store_id_2_product.price_8 %></td>
    <td><%= store_id_2_product.price_9 %></td>
    <td><%= store_id_2_product.price_10 %></td>
    <td><%= store_id_2_product.hide_1 %></td>
    <td><%= store_id_2_product.hide_2 %></td>
    <td><%= store_id_2_product.hide_3 %></td>
    <td><%= store_id_2_product.hide_4 %></td>
    <td><%= store_id_2_product.hide_5 %></td>
    <td><%= store_id_2_product.hide_6 %></td>
    <td><%= store_id_2_product.hide_7 %></td>
    <td><%= store_id_2_product.hide_8 %></td>
    <td><%= store_id_2_product.hide_9 %></td>
    <td><%= store_id_2_product.hide_10 %></td>
    <td><%= store_id_2_product.minorderpkg %></td>
    <td><%= store_id_2_product.listing_displaytype %></td>
    <td><%= store_id_2_product.show_out_stock %></td>
    <td><%= store_id_2_product.pricing_groupopt %></td>
    <td><%= store_id_2_product.qtydiscount_opt %></td>
    <td><%= store_id_2_product.loginlevel %></td>
    <td><%= store_id_2_product.redirectto %></td>
    <td><%= store_id_2_product.accessgroup %></td>
    <td><%= store_id_2_product.self_ship %></td>
    <td><%= store_id_2_product.tax_code %></td>
    <td><%= store_id_2_product.eproduct_reuseserial %></td>
    <td><%= store_id_2_product.nonsearchable %></td>
    <td><%= store_id_2_product.instock_message %></td>
    <td><%= store_id_2_product.outofstock_message %></td>
    <td><%= store_id_2_product.backorder_message %></td>
    <td><%= store_id_2_product.height %></td>
    <td><%= store_id_2_product.width %></td>
    <td><%= store_id_2_product.depth %></td>
    <td><%= store_id_2_product.reward_points %></td>
    <td><%= store_id_2_product.reward_disable %></td>
    <td><%= store_id_2_product.reward_redeem %></td>
    <td><%= store_id_2_product.filename %></td>
    <td><%= store_id_2_product.fractional_qty %></td>
    <td><%= link_to 'Show', store_id_2_product %></td>
    <td><%= link_to 'Edit', edit_store_id_2_product_path(store_id_2_product) %></td>
    <td><%= link_to 'Destroy', store_id_2_product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store id 2 product', new_store_id_2_product_path %>
