<p id="notice"><%= notice %></p>

<p>
  <b>Catalogid:</b>
  <%= @store_id_2_product.catalogid %>
</p>

<p>
  <b>Sku:</b>
  <%= @store_id_2_product.sku %>
</p>

<p>
  <b>Categories:</b>
  <%= @store_id_2_product.categories %>
</p>

<p>
  <b>Mfgid:</b>
  <%= @store_id_2_product.mfgid %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @store_id_2_product.manufacturer %>
</p>

<p>
  <b>Distributor:</b>
  <%= @store_id_2_product.distributor %>
</p>

<p>
  <b>Cost:</b>
  <%= @store_id_2_product.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @store_id_2_product.price %>
</p>

<p>
  <b>Price2:</b>
  <%= @store_id_2_product.price2 %>
</p>

<p>
  <b>Price3:</b>
  <%= @store_id_2_product.price3 %>
</p>

<p>
  <b>Saleprice:</b>
  <%= @store_id_2_product.saleprice %>
</p>

<p>
  <b>Onsale:</b>
  <%= @store_id_2_product.onsale %>
</p>

<p>
  <b>Stock:</b>
  <%= @store_id_2_product.stock %>
</p>

<p>
  <b>Stock alert:</b>
  <%= @store_id_2_product.stock_alert %>
</p>

<p>
  <b>Display stock:</b>
  <%= @store_id_2_product.display_stock %>
</p>

<p>
  <b>Weight:</b>
  <%= @store_id_2_product.weight %>
</p>

<p>
  <b>Minimumorder:</b>
  <%= @store_id_2_product.minimumorder %>
</p>

<p>
  <b>Maximumorder:</b>
  <%= @store_id_2_product.maximumorder %>
</p>

<p>
  <b>Date created:</b>
  <%= @store_id_2_product.date_created %>
</p>

<p>
  <b>Description:</b>
  <%= @store_id_2_product.description %>
</p>

<p>
  <b>Extended description:</b>
  <%= @store_id_2_product.extended_description %>
</p>

<p>
  <b>Keywords:</b>
  <%= @store_id_2_product.keywords %>
</p>

<p>
  <b>Sorting:</b>
  <%= @store_id_2_product.sorting %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @store_id_2_product.thumbnail %>
</p>

<p>
  <b>Image1:</b>
  <%= @store_id_2_product.image1 %>
</p>

<p>
  <b>Image2:</b>
  <%= @store_id_2_product.image2 %>
</p>

<p>
  <b>Image3:</b>
  <%= @store_id_2_product.image3 %>
</p>

<p>
  <b>Image4:</b>
  <%= @store_id_2_product.image4 %>
</p>

<p>
  <b>Realmedia:</b>
  <%= @store_id_2_product.realmedia %>
</p>

<p>
  <b>Related:</b>
  <%= @store_id_2_product.related %>
</p>

<p>
  <b>Accessories:</b>
  <%= @store_id_2_product.accessories %>
</p>

<p>
  <b>Shipcost:</b>
  <%= @store_id_2_product.shipcost %>
</p>

<p>
  <b>Imagecaption1:</b>
  <%= @store_id_2_product.imagecaption1 %>
</p>

<p>
  <b>Imagecaption2:</b>
  <%= @store_id_2_product.imagecaption2 %>
</p>

<p>
  <b>Imagecaption3:</b>
  <%= @store_id_2_product.imagecaption3 %>
</p>

<p>
  <b>Imagecaption4:</b>
  <%= @store_id_2_product.imagecaption4 %>
</p>

<p>
  <b>Title:</b>
  <%= @store_id_2_product.title %>
</p>

<p>
  <b>Metatags:</b>
  <%= @store_id_2_product.metatags %>
</p>

<p>
  <b>Displaytext:</b>
  <%= @store_id_2_product.displaytext %>
</p>

<p>
  <b>Eproduct password:</b>
  <%= @store_id_2_product.eproduct_password %>
</p>

<p>
  <b>Eproduct random:</b>
  <%= @store_id_2_product.eproduct_random %>
</p>

<p>
  <b>Eproduct expire:</b>
  <%= @store_id_2_product.eproduct_expire %>
</p>

<p>
  <b>Eproduct path:</b>
  <%= @store_id_2_product.eproduct_path %>
</p>

<p>
  <b>Eproduct serial:</b>
  <%= @store_id_2_product.eproduct_serial %>
</p>

<p>
  <b>Eproduct instructions:</b>
  <%= @store_id_2_product.eproduct_instructions %>
</p>

<p>
  <b>Homespecial:</b>
  <%= @store_id_2_product.homespecial %>
</p>

<p>
  <b>Categoryspecial:</b>
  <%= @store_id_2_product.categoryspecial %>
</p>

<p>
  <b>Hide:</b>
  <%= @store_id_2_product.hide %>
</p>

<p>
  <b>Free shipping:</b>
  <%= @store_id_2_product.free_shipping %>
</p>

<p>
  <b>Nontax:</b>
  <%= @store_id_2_product.nontax %>
</p>

<p>
  <b>Notforsale:</b>
  <%= @store_id_2_product.notforsale %>
</p>

<p>
  <b>Giftcertificate:</b>
  <%= @store_id_2_product.giftcertificate %>
</p>

<p>
  <b>Userid:</b>
  <%= @store_id_2_product.userid %>
</p>

<p>
  <b>Last update:</b>
  <%= @store_id_2_product.last_update %>
</p>

<p>
  <b>Extra field 1:</b>
  <%= @store_id_2_product.extra_field_1 %>
</p>

<p>
  <b>Extra field 2:</b>
  <%= @store_id_2_product.extra_field_2 %>
</p>

<p>
  <b>Extra field 3:</b>
  <%= @store_id_2_product.extra_field_3 %>
</p>

<p>
  <b>Extra field 4:</b>
  <%= @store_id_2_product.extra_field_4 %>
</p>

<p>
  <b>Extra field 5:</b>
  <%= @store_id_2_product.extra_field_5 %>
</p>

<p>
  <b>Extra field 6:</b>
  <%= @store_id_2_product.extra_field_6 %>
</p>

<p>
  <b>Extra field 7:</b>
  <%= @store_id_2_product.extra_field_7 %>
</p>

<p>
  <b>Extra field 8:</b>
  <%= @store_id_2_product.extra_field_8 %>
</p>

<p>
  <b>Extra field 9:</b>
  <%= @store_id_2_product.extra_field_9 %>
</p>

<p>
  <b>Extra field 10:</b>
  <%= @store_id_2_product.extra_field_10 %>
</p>

<p>
  <b>Usecatoptions:</b>
  <%= @store_id_2_product.usecatoptions %>
</p>

<p>
  <b>Qtyoptions:</b>
  <%= @store_id_2_product.qtyoptions %>
</p>

<p>
  <b>Price 1:</b>
  <%= @store_id_2_product.price_1 %>
</p>

<p>
  <b>Price 2:</b>
  <%= @store_id_2_product.price_2 %>
</p>

<p>
  <b>Price 3:</b>
  <%= @store_id_2_product.price_3 %>
</p>

<p>
  <b>Price 4:</b>
  <%= @store_id_2_product.price_4 %>
</p>

<p>
  <b>Price 5:</b>
  <%= @store_id_2_product.price_5 %>
</p>

<p>
  <b>Price 6:</b>
  <%= @store_id_2_product.price_6 %>
</p>

<p>
  <b>Price 7:</b>
  <%= @store_id_2_product.price_7 %>
</p>

<p>
  <b>Price 8:</b>
  <%= @store_id_2_product.price_8 %>
</p>

<p>
  <b>Price 9:</b>
  <%= @store_id_2_product.price_9 %>
</p>

<p>
  <b>Price 10:</b>
  <%= @store_id_2_product.price_10 %>
</p>

<p>
  <b>Hide 1:</b>
  <%= @store_id_2_product.hide_1 %>
</p>

<p>
  <b>Hide 2:</b>
  <%= @store_id_2_product.hide_2 %>
</p>

<p>
  <b>Hide 3:</b>
  <%= @store_id_2_product.hide_3 %>
</p>

<p>
  <b>Hide 4:</b>
  <%= @store_id_2_product.hide_4 %>
</p>

<p>
  <b>Hide 5:</b>
  <%= @store_id_2_product.hide_5 %>
</p>

<p>
  <b>Hide 6:</b>
  <%= @store_id_2_product.hide_6 %>
</p>

<p>
  <b>Hide 7:</b>
  <%= @store_id_2_product.hide_7 %>
</p>

<p>
  <b>Hide 8:</b>
  <%= @store_id_2_product.hide_8 %>
</p>

<p>
  <b>Hide 9:</b>
  <%= @store_id_2_product.hide_9 %>
</p>

<p>
  <b>Hide 10:</b>
  <%= @store_id_2_product.hide_10 %>
</p>

<p>
  <b>Minorderpkg:</b>
  <%= @store_id_2_product.minorderpkg %>
</p>

<p>
  <b>Listing displaytype:</b>
  <%= @store_id_2_product.listing_displaytype %>
</p>

<p>
  <b>Show out stock:</b>
  <%= @store_id_2_product.show_out_stock %>
</p>

<p>
  <b>Pricing groupopt:</b>
  <%= @store_id_2_product.pricing_groupopt %>
</p>

<p>
  <b>Qtydiscount opt:</b>
  <%= @store_id_2_product.qtydiscount_opt %>
</p>

<p>
  <b>Loginlevel:</b>
  <%= @store_id_2_product.loginlevel %>
</p>

<p>
  <b>Redirectto:</b>
  <%= @store_id_2_product.redirectto %>
</p>

<p>
  <b>Accessgroup:</b>
  <%= @store_id_2_product.accessgroup %>
</p>

<p>
  <b>Self ship:</b>
  <%= @store_id_2_product.self_ship %>
</p>

<p>
  <b>Tax code:</b>
  <%= @store_id_2_product.tax_code %>
</p>

<p>
  <b>Eproduct reuseserial:</b>
  <%= @store_id_2_product.eproduct_reuseserial %>
</p>

<p>
  <b>Nonsearchable:</b>
  <%= @store_id_2_product.nonsearchable %>
</p>

<p>
  <b>Instock message:</b>
  <%= @store_id_2_product.instock_message %>
</p>

<p>
  <b>Outofstock message:</b>
  <%= @store_id_2_product.outofstock_message %>
</p>

<p>
  <b>Backorder message:</b>
  <%= @store_id_2_product.backorder_message %>
</p>

<p>
  <b>Height:</b>
  <%= @store_id_2_product.height %>
</p>

<p>
  <b>Width:</b>
  <%= @store_id_2_product.width %>
</p>

<p>
  <b>Depth:</b>
  <%= @store_id_2_product.depth %>
</p>

<p>
  <b>Reward points:</b>
  <%= @store_id_2_product.reward_points %>
</p>

<p>
  <b>Reward disable:</b>
  <%= @store_id_2_product.reward_disable %>
</p>

<p>
  <b>Reward redeem:</b>
  <%= @store_id_2_product.reward_redeem %>
</p>

<p>
  <b>Filename:</b>
  <%= @store_id_2_product.filename %>
</p>

<p>
  <b>Fractional qty:</b>
  <%= @store_id_2_product.fractional_qty %>
</p>


<%= link_to 'Edit', edit_store_id_2_product_path(@store_id_2_product) %> |
<%= link_to 'Back', store_id_2_products_path %>
