<p id="notice"><%= notice %></p>

<p>
  <b>Catalogid:</b>
  <%= @asproduct.catalogid %>
</p>

<p>
  <b>Sku:</b>
  <%= @asproduct.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @asproduct.name %>
</p>

<p>
  <b>Categories:</b>
  <%= @asproduct.categories %>
</p>

<p>
  <b>Mfgid:</b>
  <%= @asproduct.mfgid %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @asproduct.manufacturer %>
</p>

<p>
  <b>Distributor:</b>
  <%= @asproduct.distributor %>
</p>

<p>
  <b>Cost:</b>
  <%= @asproduct.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @asproduct.price %>
</p>

<p>
  <b>Price2:</b>
  <%= @asproduct.price2 %>
</p>

<p>
  <b>Price3:</b>
  <%= @asproduct.price3 %>
</p>

<p>
  <b>Saleprice:</b>
  <%= @asproduct.saleprice %>
</p>

<p>
  <b>Onsale:</b>
  <%= @asproduct.onsale %>
</p>

<p>
  <b>Stock:</b>
  <%= @asproduct.stock %>
</p>

<p>
  <b>Stock alert:</b>
  <%= @asproduct.stock_alert %>
</p>

<p>
  <b>Display stock:</b>
  <%= @asproduct.display_stock %>
</p>

<p>
  <b>Weight:</b>
  <%= @asproduct.weight %>
</p>

<p>
  <b>Minimumorder:</b>
  <%= @asproduct.minimumorder %>
</p>

<p>
  <b>Maximumorder:</b>
  <%= @asproduct.maximumorder %>
</p>

<p>
  <b>Date created:</b>
  <%= @asproduct.date_created %>
</p>

<p>
  <b>Description:</b>
  <%= @asproduct.description %>
</p>

<p>
  <b>Extended description:</b>
  <%= @asproduct.extended_description %>
</p>

<p>
  <b>Keywords:</b>
  <%= @asproduct.keywords %>
</p>

<p>
  <b>Sorting:</b>
  <%= @asproduct.sorting %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @asproduct.thumbnail %>
</p>

<p>
  <b>Image1:</b>
  <%= @asproduct.image1 %>
</p>

<p>
  <b>Image2:</b>
  <%= @asproduct.image2 %>
</p>

<p>
  <b>Image3:</b>
  <%= @asproduct.image3 %>
</p>

<p>
  <b>Image4:</b>
  <%= @asproduct.image4 %>
</p>

<p>
  <b>Realmedia:</b>
  <%= @asproduct.realmedia %>
</p>

<p>
  <b>Related:</b>
  <%= @asproduct.related %>
</p>

<p>
  <b>Accessories:</b>
  <%= @asproduct.accessories %>
</p>

<p>
  <b>Shipcost:</b>
  <%= @asproduct.shipcost %>
</p>

<p>
  <b>Imagecaption1:</b>
  <%= @asproduct.imagecaption1 %>
</p>

<p>
  <b>Imagecaption2:</b>
  <%= @asproduct.imagecaption2 %>
</p>

<p>
  <b>Imagecaption3:</b>
  <%= @asproduct.imagecaption3 %>
</p>

<p>
  <b>Imagecaption4:</b>
  <%= @asproduct.imagecaption4 %>
</p>

<p>
  <b>Title:</b>
  <%= @asproduct.title %>
</p>

<p>
  <b>Metatags:</b>
  <%= @asproduct.metatags %>
</p>

<p>
  <b>Displaytext:</b>
  <%= @asproduct.displaytext %>
</p>

<p>
  <b>Eproduct password:</b>
  <%= @asproduct.eproduct_password %>
</p>

<p>
  <b>Eproduct random:</b>
  <%= @asproduct.eproduct_random %>
</p>

<p>
  <b>Eproduct expire:</b>
  <%= @asproduct.eproduct_expire %>
</p>

<p>
  <b>Eproduct path:</b>
  <%= @asproduct.eproduct_path %>
</p>

<p>
  <b>Eproduct serial:</b>
  <%= @asproduct.eproduct_serial %>
</p>

<p>
  <b>Eproduct instructions:</b>
  <%= @asproduct.eproduct_instructions %>
</p>

<p>
  <b>Homespecial:</b>
  <%= @asproduct.homespecial %>
</p>

<p>
  <b>Categoryspecial:</b>
  <%= @asproduct.categoryspecial %>
</p>

<p>
  <b>Hide:</b>
  <%= @asproduct.hide %>
</p>

<p>
  <b>Free shipping:</b>
  <%= @asproduct.free_shipping %>
</p>

<p>
  <b>Nontax:</b>
  <%= @asproduct.nontax %>
</p>

<p>
  <b>Notforsale:</b>
  <%= @asproduct.notforsale %>
</p>

<p>
  <b>Giftcertificate:</b>
  <%= @asproduct.giftcertificate %>
</p>

<p>
  <b>Userid:</b>
  <%= @asproduct.userid %>
</p>

<p>
  <b>Last update:</b>
  <%= @asproduct.last_update %>
</p>

<p>
  <b>Extra field 1:</b>
  <%= @asproduct.extra_field_1 %>
</p>

<p>
  <b>Extra field 2:</b>
  <%= @asproduct.extra_field_2 %>
</p>

<p>
  <b>Extra field 3:</b>
  <%= @asproduct.extra_field_3 %>
</p>

<p>
  <b>Extra field 4:</b>
  <%= @asproduct.extra_field_4 %>
</p>

<p>
  <b>Extra field 5:</b>
  <%= @asproduct.extra_field_5 %>
</p>

<p>
  <b>Extra field 6:</b>
  <%= @asproduct.extra_field_6 %>
</p>

<p>
  <b>Extra field 7:</b>
  <%= @asproduct.extra_field_7 %>
</p>

<p>
  <b>Extra field 8:</b>
  <%= @asproduct.extra_field_8 %>
</p>

<p>
  <b>Extra field 9:</b>
  <%= @asproduct.extra_field_9 %>
</p>

<p>
  <b>Extra field 10:</b>
  <%= @asproduct.extra_field_10 %>
</p>

<p>
  <b>Usecatoptions:</b>
  <%= @asproduct.usecatoptions %>
</p>

<p>
  <b>Qtyoptions:</b>
  <%= @asproduct.qtyoptions %>
</p>

<p>
  <b>Price 1:</b>
  <%= @asproduct.price_1 %>
</p>

<p>
  <b>Price 2:</b>
  <%= @asproduct.price_2 %>
</p>

<p>
  <b>Price 3:</b>
  <%= @asproduct.price_3 %>
</p>

<p>
  <b>Price 4:</b>
  <%= @asproduct.price_4 %>
</p>

<p>
  <b>Price 5:</b>
  <%= @asproduct.price_5 %>
</p>

<p>
  <b>Price 6:</b>
  <%= @asproduct.price_6 %>
</p>

<p>
  <b>Price 7:</b>
  <%= @asproduct.price_7 %>
</p>

<p>
  <b>Price 8:</b>
  <%= @asproduct.price_8 %>
</p>

<p>
  <b>Price 9:</b>
  <%= @asproduct.price_9 %>
</p>

<p>
  <b>Price 10:</b>
  <%= @asproduct.price_10 %>
</p>

<p>
  <b>Hide 1:</b>
  <%= @asproduct.hide_1 %>
</p>

<p>
  <b>Hide 2:</b>
  <%= @asproduct.hide_2 %>
</p>

<p>
  <b>Hide 3:</b>
  <%= @asproduct.hide_3 %>
</p>

<p>
  <b>Hide 4:</b>
  <%= @asproduct.hide_4 %>
</p>

<p>
  <b>Hide 5:</b>
  <%= @asproduct.hide_5 %>
</p>

<p>
  <b>Hide 6:</b>
  <%= @asproduct.hide_6 %>
</p>

<p>
  <b>Hide 7:</b>
  <%= @asproduct.hide_7 %>
</p>

<p>
  <b>Hide 8:</b>
  <%= @asproduct.hide_8 %>
</p>

<p>
  <b>Hide 9:</b>
  <%= @asproduct.hide_9 %>
</p>

<p>
  <b>Hide 10:</b>
  <%= @asproduct.hide_10 %>
</p>

<p>
  <b>Minorderpkg:</b>
  <%= @asproduct.minorderpkg %>
</p>

<p>
  <b>Listing displaytype:</b>
  <%= @asproduct.listing_displaytype %>
</p>

<p>
  <b>Show out stock:</b>
  <%= @asproduct.show_out_stock %>
</p>

<p>
  <b>Pricing groupopt:</b>
  <%= @asproduct.pricing_groupopt %>
</p>

<p>
  <b>Qtydiscount opt:</b>
  <%= @asproduct.qtydiscount_opt %>
</p>

<p>
  <b>Loginlevel:</b>
  <%= @asproduct.loginlevel %>
</p>

<p>
  <b>Redirectto:</b>
  <%= @asproduct.redirectto %>
</p>

<p>
  <b>Accessgroup:</b>
  <%= @asproduct.accessgroup %>
</p>

<p>
  <b>Self ship:</b>
  <%= @asproduct.self_ship %>
</p>

<p>
  <b>Tax code:</b>
  <%= @asproduct.tax_code %>
</p>

<p>
  <b>Eproduct reuseserial:</b>
  <%= @asproduct.eproduct_reuseserial %>
</p>

<p>
  <b>Nonsearchable:</b>
  <%= @asproduct.nonsearchable %>
</p>

<p>
  <b>Instock message:</b>
  <%= @asproduct.instock_message %>
</p>

<p>
  <b>Outofstock message:</b>
  <%= @asproduct.outofstock_message %>
</p>

<p>
  <b>Backorder message:</b>
  <%= @asproduct.backorder_message %>
</p>

<p>
  <b>Height:</b>
  <%= @asproduct.height %>
</p>

<p>
  <b>Width:</b>
  <%= @asproduct.width %>
</p>

<p>
  <b>Depth:</b>
  <%= @asproduct.depth %>
</p>

<p>
  <b>Reward points:</b>
  <%= @asproduct.reward_points %>
</p>

<p>
  <b>Reward disable:</b>
  <%= @asproduct.reward_disable %>
</p>

<p>
  <b>Reward redeem:</b>
  <%= @asproduct.reward_redeem %>
</p>

<p>
  <b>Filename:</b>
  <%= @asproduct.filename %>
</p>

<p>
  <b>Fractional qty:</b>
  <%= @asproduct.fractional_qty %>
</p>


<%= link_to 'Edit', edit_asproduct_path(@asproduct) %> |
<%= link_to 'Back', asproducts_path %>
