<p id="notice"><%= notice %></p>

<p>
  <b>Catalogid:</b>
  <%= @store2product.catalogid %>
</p>

<p>
  <b>Sku:</b>
  <%= @store2product.sku %>
</p>

<p>
  <b>Categories:</b>
  <%= @store2product.categories %>
</p>

<p>
  <b>Mfgid:</b>
  <%= @store2product.mfgid %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @store2product.manufacturer %>
</p>

<p>
  <b>Distributor:</b>
  <%= @store2product.distributor %>
</p>

<p>
  <b>Cost:</b>
  <%= @store2product.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @store2product.price %>
</p>

<p>
  <b>Price2:</b>
  <%= @store2product.price2 %>
</p>

<p>
  <b>Price3:</b>
  <%= @store2product.price3 %>
</p>

<p>
  <b>Saleprice:</b>
  <%= @store2product.saleprice %>
</p>

<p>
  <b>Onsale:</b>
  <%= @store2product.onsale %>
</p>

<p>
  <b>Stock:</b>
  <%= @store2product.stock %>
</p>

<p>
  <b>Stock alert:</b>
  <%= @store2product.stock_alert %>
</p>

<p>
  <b>Display stock:</b>
  <%= @store2product.display_stock %>
</p>

<p>
  <b>Weight:</b>
  <%= @store2product.weight %>
</p>

<p>
  <b>Minimumorder:</b>
  <%= @store2product.minimumorder %>
</p>

<p>
  <b>Maximumorder:</b>
  <%= @store2product.maximumorder %>
</p>

<p>
  <b>Date created:</b>
  <%= @store2product.date_created %>
</p>

<p>
  <b>Description:</b>
  <%= @store2product.description %>
</p>

<p>
  <b>Extended description:</b>
  <%= @store2product.extended_description %>
</p>

<p>
  <b>Keywords:</b>
  <%= @store2product.keywords %>
</p>

<p>
  <b>Sorting:</b>
  <%= @store2product.sorting %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @store2product.thumbnail %>
</p>

<p>
  <b>Image1:</b>
  <%= @store2product.image1 %>
</p>

<p>
  <b>Image2:</b>
  <%= @store2product.image2 %>
</p>

<p>
  <b>Image3:</b>
  <%= @store2product.image3 %>
</p>

<p>
  <b>Image4:</b>
  <%= @store2product.image4 %>
</p>

<p>
  <b>Realmedia:</b>
  <%= @store2product.realmedia %>
</p>

<p>
  <b>Related:</b>
  <%= @store2product.related %>
</p>

<p>
  <b>Accessories:</b>
  <%= @store2product.accessories %>
</p>

<p>
  <b>Shipcost:</b>
  <%= @store2product.shipcost %>
</p>

<p>
  <b>Imagecaption1:</b>
  <%= @store2product.imagecaption1 %>
</p>

<p>
  <b>Imagecaption2:</b>
  <%= @store2product.imagecaption2 %>
</p>

<p>
  <b>Imagecaption3:</b>
  <%= @store2product.imagecaption3 %>
</p>

<p>
  <b>Imagecaption4:</b>
  <%= @store2product.imagecaption4 %>
</p>

<p>
  <b>Title:</b>
  <%= @store2product.title %>
</p>

<p>
  <b>Metatags:</b>
  <%= @store2product.metatags %>
</p>

<p>
  <b>Displaytext:</b>
  <%= @store2product.displaytext %>
</p>

<p>
  <b>Eproduct password:</b>
  <%= @store2product.eproduct_password %>
</p>

<p>
  <b>Eproduct random:</b>
  <%= @store2product.eproduct_random %>
</p>

<p>
  <b>Eproduct expire:</b>
  <%= @store2product.eproduct_expire %>
</p>

<p>
  <b>Eproduct path:</b>
  <%= @store2product.eproduct_path %>
</p>

<p>
  <b>Eproduct serial:</b>
  <%= @store2product.eproduct_serial %>
</p>

<p>
  <b>Eproduct instructions:</b>
  <%= @store2product.eproduct_instructions %>
</p>

<p>
  <b>Homespecial:</b>
  <%= @store2product.homespecial %>
</p>

<p>
  <b>Categoryspecial:</b>
  <%= @store2product.categoryspecial %>
</p>

<p>
  <b>Hide:</b>
  <%= @store2product.hide %>
</p>

<p>
  <b>Free shipping:</b>
  <%= @store2product.free_shipping %>
</p>

<p>
  <b>Nontax:</b>
  <%= @store2product.nontax %>
</p>

<p>
  <b>Notforsale:</b>
  <%= @store2product.notforsale %>
</p>

<p>
  <b>Giftcertificate:</b>
  <%= @store2product.giftcertificate %>
</p>

<p>
  <b>Userid:</b>
  <%= @store2product.userid %>
</p>

<p>
  <b>Last update:</b>
  <%= @store2product.last_update %>
</p>

<p>
  <b>Extra field 1:</b>
  <%= @store2product.extra_field_1 %>
</p>

<p>
  <b>Extra field 2:</b>
  <%= @store2product.extra_field_2 %>
</p>

<p>
  <b>Extra field 3:</b>
  <%= @store2product.extra_field_3 %>
</p>

<p>
  <b>Extra field 4:</b>
  <%= @store2product.extra_field_4 %>
</p>

<p>
  <b>Extra field 5:</b>
  <%= @store2product.extra_field_5 %>
</p>

<p>
  <b>Extra field 6:</b>
  <%= @store2product.extra_field_6 %>
</p>

<p>
  <b>Extra field 7:</b>
  <%= @store2product.extra_field_7 %>
</p>

<p>
  <b>Extra field 8:</b>
  <%= @store2product.extra_field_8 %>
</p>

<p>
  <b>Extra field 9:</b>
  <%= @store2product.extra_field_9 %>
</p>

<p>
  <b>Extra field 10:</b>
  <%= @store2product.extra_field_10 %>
</p>

<p>
  <b>Usecatoptions:</b>
  <%= @store2product.usecatoptions %>
</p>

<p>
  <b>Qtyoptions:</b>
  <%= @store2product.qtyoptions %>
</p>

<p>
  <b>Price 1:</b>
  <%= @store2product.price_1 %>
</p>

<p>
  <b>Price 2:</b>
  <%= @store2product.price_2 %>
</p>

<p>
  <b>Price 3:</b>
  <%= @store2product.price_3 %>
</p>

<p>
  <b>Price 4:</b>
  <%= @store2product.price_4 %>
</p>

<p>
  <b>Price 5:</b>
  <%= @store2product.price_5 %>
</p>

<p>
  <b>Price 6:</b>
  <%= @store2product.price_6 %>
</p>

<p>
  <b>Price 7:</b>
  <%= @store2product.price_7 %>
</p>

<p>
  <b>Price 8:</b>
  <%= @store2product.price_8 %>
</p>

<p>
  <b>Price 9:</b>
  <%= @store2product.price_9 %>
</p>

<p>
  <b>Price 10:</b>
  <%= @store2product.price_10 %>
</p>

<p>
  <b>Hide 1:</b>
  <%= @store2product.hide_1 %>
</p>

<p>
  <b>Hide 2:</b>
  <%= @store2product.hide_2 %>
</p>

<p>
  <b>Hide 3:</b>
  <%= @store2product.hide_3 %>
</p>

<p>
  <b>Hide 4:</b>
  <%= @store2product.hide_4 %>
</p>

<p>
  <b>Hide 5:</b>
  <%= @store2product.hide_5 %>
</p>

<p>
  <b>Hide 6:</b>
  <%= @store2product.hide_6 %>
</p>

<p>
  <b>Hide 7:</b>
  <%= @store2product.hide_7 %>
</p>

<p>
  <b>Hide 8:</b>
  <%= @store2product.hide_8 %>
</p>

<p>
  <b>Hide 9:</b>
  <%= @store2product.hide_9 %>
</p>

<p>
  <b>Hide 10:</b>
  <%= @store2product.hide_10 %>
</p>

<p>
  <b>Minorderpkg:</b>
  <%= @store2product.minorderpkg %>
</p>

<p>
  <b>Listing displaytype:</b>
  <%= @store2product.listing_displaytype %>
</p>

<p>
  <b>Show out stock:</b>
  <%= @store2product.show_out_stock %>
</p>

<p>
  <b>Pricing groupopt:</b>
  <%= @store2product.pricing_groupopt %>
</p>

<p>
  <b>Qtydiscount opt:</b>
  <%= @store2product.qtydiscount_opt %>
</p>

<p>
  <b>Loginlevel:</b>
  <%= @store2product.loginlevel %>
</p>

<p>
  <b>Redirectto:</b>
  <%= @store2product.redirectto %>
</p>

<p>
  <b>Accessgroup:</b>
  <%= @store2product.accessgroup %>
</p>

<p>
  <b>Self ship:</b>
  <%= @store2product.self_ship %>
</p>

<p>
  <b>Tax code:</b>
  <%= @store2product.tax_code %>
</p>

<p>
  <b>Eproduct reuseserial:</b>
  <%= @store2product.eproduct_reuseserial %>
</p>

<p>
  <b>Nonsearchable:</b>
  <%= @store2product.nonsearchable %>
</p>

<p>
  <b>Instock message:</b>
  <%= @store2product.instock_message %>
</p>

<p>
  <b>Outofstock message:</b>
  <%= @store2product.outofstock_message %>
</p>

<p>
  <b>Backorder message:</b>
  <%= @store2product.backorder_message %>
</p>

<p>
  <b>Height:</b>
  <%= @store2product.height %>
</p>

<p>
  <b>Width:</b>
  <%= @store2product.width %>
</p>

<p>
  <b>Depth:</b>
  <%= @store2product.depth %>
</p>

<p>
  <b>Reward points:</b>
  <%= @store2product.reward_points %>
</p>

<p>
  <b>Reward disable:</b>
  <%= @store2product.reward_disable %>
</p>

<p>
  <b>Reward redeem:</b>
  <%= @store2product.reward_redeem %>
</p>

<p>
  <b>Filename:</b>
  <%= @store2product.filename %>
</p>

<p>
  <b>Fractional qty:</b>
  <%= @store2product.fractional_qty %>
</p>


<%= link_to 'Edit', edit_store2product_path(@store2product) %> |
<%= link_to 'Back', store2products_path %>
