<p id="notice"><%= notice %></p>

<p>
  <b>Sku:</b>
  <%= @product.SKU %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Url to product:</b>
  <%= @product.URL_to_product %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Retail price:</b>
  <%= @product.Retail_Price %>
</p>

<p>
  <b>Url to image:</b>
  <%= @product.URL_to_image %>
</p>

<p>
  <b>Url to thumbnail image:</b>
  <%= @product.URL_to_thumbnail_image %>
</p>

<p>
  <b>Commission:</b>
  <%= @product.Commission %>
</p>

<p>
  <b>Category:</b>
  <%= @product.Category %>
</p>

<p>
  <b>Subcategory:</b>
  <%= @product.Subcategory %>
</p>

<p>
  <b>Description:</b>
  <%= @product.Description %>
</p>

<p>
  <b>Searchterms:</b>
  <%= @product.SearchTerms %>
</p>

<p>
  <b>Status:</b>
  <%= @product.Status %>
</p>

<p>
  <b>Merchantid:</b>
  <%= @product.MerchantID %>
</p>

<p>
  <b>Custom 1:</b>
  <%= @product.Custom_1 %>
</p>

<p>
  <b>Custom 2:</b>
  <%= @product.Custom_2 %>
</p>

<p>
  <b>Custom 3:</b>
  <%= @product.Custom_3 %>
</p>

<p>
  <b>Custom 4:</b>
  <%= @product.Custom_4 %>
</p>

<p>
  <b>Custom 5:</b>
  <%= @product.Custom_5 %>
</p>

<p>
  <b>Storeid:</b>
  <%= @product.StoreID %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @product.Manufacturer %>
</p>

<p>
  <b>Partnumber:</b>
  <%= @product.PartNumber %>
</p>

<p>
  <b>Merchantcategory:</b>
  <%= @product.MerchantCategory %>
</p>

<p>
  <b>Merchantsubcategory:</b>
  <%= @product.MerchantSubCategory %>
</p>

<p>
  <b>Shortdescription:</b>
  <%= @product.ShortDescription %>
</p>

<p>
  <b>Isbn:</b>
  <%= @product.ISBN %>
</p>

<p>
  <b>Upc:</b>
  <%= @product.UPC %>
</p>

<p>
  <b>Crosssell:</b>
  <%= @product.CrossSell %>
</p>

<p>
  <b>Merchantgroup:</b>
  <%= @product.MerchantGroup %>
</p>

<p>
  <b>Merchantsubgroup:</b>
  <%= @product.MerchantSubgroup %>
</p>

<p>
  <b>Compatiblewith:</b>
  <%= @product.CompatibleWith %>
</p>

<p>
  <b>Compareto:</b>
  <%= @product.CompareTo %>
</p>

<p>
  <b>Quantitydiscount:</b>
  <%= @product.QuantityDiscount %>
</p>

<p>
  <b>Bestseller:</b>
  <%= @product.Bestseller %>
</p>

<p>
  <b>Addtocarturl:</b>
  <%= @product.AddToCartURL %>
</p>

<p>
  <b>Reviewsrssurl:</b>
  <%= @product.ReviewsRSSURL %>
</p>

<p>
  <b>Option1:</b>
  <%= @product.Option1 %>
</p>

<p>
  <b>Option2:</b>
  <%= @product.Option2 %>
</p>

<p>
  <b>Option3:</b>
  <%= @product.Option3 %>
</p>

<p>
  <b>Option4:</b>
  <%= @product.Option4 %>
</p>

<p>
  <b>Option5:</b>
  <%= @product.Option5 %>
</p>

<p>
  <b>Reservedforfutureuse:</b>
  <%= @product.ReservedForFutureUse %>
</p>

<p>
  <b>Reservedforfutureuse:</b>
  <%= @product.ReservedForFutureUse %>
</p>

<p>
  <b>Reservedforfutureuse:</b>
  <%= @product.ReservedForFutureUse %>
</p>

<p>
  <b>Reservedforfutureuse:</b>
  <%= @product.ReservedForFutureUse %>
</p>

<p>
  <b>Reservedforfutureuse:</b>
  <%= @product.ReservedForFutureUse %>
</p>

<p>
  <b>Reservedforfutureuse:</b>
  <%= @product.ReservedForFutureUse %>
</p>

<p>
  <b>Reservedforfutureuse:</b>
  <%= @product.ReservedForFutureUse %>
</p>

<p>
  <b>Reservedforfutureuse:</b>
  <%= @product.ReservedForFutureUse %>
</p>

<p>
  <b>Reservedforfutureuse:</b>
  <%= @product.ReservedForFutureUse %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
